.innerContainer {
  margin-top: 64px;
  padding: 40px;
  border: 1px solid;
  border-color: var(--mantine-color-gray-2);
  border-radius: var(--mantine-radius-default);
  max-width: 480px;
  min-width: 320px;
}
